# Игнорировать каталог
.idea/
node_modules/
public/
src/assets/style
src/components/notpublish
 # Игнорировать указанный файл
src/App.vue
src/build-entry.js
src/main.js
vue.config.js
babel.config.js
*.map
Public tutorial